################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedCSharp/.vs/AdvancedCSharp/v15/Server/sqlite3/db.lock
/AdvancedCSharp/.vs/AdvancedCSharp/v15/Server/sqlite3
